html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Poppins";
}

/* Main Frame */
.dashboard {
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
}

/* Left Side */

.greenLeft{
    position: absolute;
    width: 300px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #66CDAA;
}

/* myrayLogo */

.logo{
    position: absolute;
    left: -95px;
    top: 18px;
    width: 70px;
    height: 70px;
}

.MYRAY{
    position: absolute;
    left: 100px;
    top: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;
}

.subtitle{
    position: absolute;
    left: 100px;
    top: 55px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #F1E6E6;
}

.dashDiv{
    position: absolute;
    width: 240px;
    height: 60px;
    left: 30px;
    top: 162px;

    background: #FFFFFF;
    border-radius: 15px;
}

.dashLink{
    position: absolute;
    left: 15px;
    right: 81.53%;
    top: 0px;
    bottom: 79.79%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;

    color: #000000;
}

.myExpensesDiv{
    position: absolute;
    width: 240px;
    height: 60px;
    left: 30px;
    top: 282px;

    background: none;
    border-radius: 15px;
}

.myExpensesDiv:hover{
    background: #FFFFFF;
}

.myExpensesLink{
    position: absolute;
    left: 3.61%;
    right: 81.53%;
    top: 24.8%;
    bottom: 72.85%;
    width: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;

    color: #F1E6E6;
}
