/*Landing Page CSS*/

/* Landing Page Body */
body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
}

/*  */
p {
    font-family: 'Poppins';
}

/* Frame 1 */
.frame1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 495px;
    height: 125px;
    left: 125px;
    top: 39px;
}

    /* Main Logo */
    .mainLogo {
        width: 125px;
        height: 125px;
        background: #FFFFFF;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px -70px;
    }

    /* MYRAY Title */
    .myrayTitle {
        width: 440px;
        height: 77px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        text-align: center;
        
        color: #2AC691;

        flex: none;
        order: 1;
        flex-grow: 0;
    }

/* Frame 2 */
.frame2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 279px;
    height: 45px;
    left: 583px;
    top: 245px;
}

    /* Log In Text Above Form */
    .logInText {
        width: 147px;
        height: 45px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        
        color: #000000;
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px -6px;
    }

    .myrayName {
        width: 138px;
        height: 44px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        
        color: #2AC691;

        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
/* Phrase */
.catchPhrase {
    position: absolute;
    left: 39.79%;
    right: 39.72%;
    top: 31.54%;
    bottom: 64.84%;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #000000;
}

/* Frame 3 */
.frame3 {
    position: absolute;
    left: 27.85%;
    right: 27.71%;
    top: 38.96%;
    bottom: 56.35%;
}

    /* Username Text */
    .usernameText {
        position: absolute;
        left: 1.88%;
        right: 62.5%;
        top: 22.92%;
        bottom: 22.92%;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: #C4C4C4;
    }

    /* Username Textbox */
    .usernameTextbox {
        box-sizing: border-box;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;

        background: #FAFAFA;
        border: 1px solid #D0D0D0;
        border-radius: 10px;
    }
