/* Sign Up Page */

/* Sign Up */

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #66CDAA;
}

/* MYRAY */

.myraySign{
    position: absolute;
    left: 8.12%;
    right: 61.32%;
    top: 6.54%;
    bottom: 85.94%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    text-align: center;

    color: #FFFFFF;
}

/* MYRAY logo*/
.myrayLogo{
    position: absolute;
    left: 3.68%;
    right: 87.5%;
    top: 4.2%;
    bottom: 83.5%;

    background: #66CDAA;
}


/* MYRAY Overview */
.myrayOver{
position: absolute;
width: 577px;
height: 498px;
left: 117px;
top: 263px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;

color: #FFFFFF;
}

/* Sign Up Screen Background*/
.smallScreen{
    position: absolute;
    width: 375px;
    height: 812px;
    left: 915px;
    top: 106px;
    
    background: #FFFFFF;
    border-radius: 25px;
}

/* Logo*/
.sign_up_logo{
    position: absolute;
left: 3.2%;
right: 81.07%;
top: 2.34%;
bottom: 90.52%;

}

/* Login*/
.login{
   
    position: absolute;
    width: 220px;
    height: 26px;
    left: 78px;
    top: 671px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #66CDAA;

}

/* SIGN UP GROUP*/
.signUpGroup{
    position: absolute;
    width: 287px;
    height: 64px;
    left: 44px;
    top: 590px;

}

/* SIGN UP*/
.signUp{
    position: absolute;
    width: 70px;
    height: 27px;
    left: 153px;
    top: 608px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}


/* Sign Up Button*/
.signUpButton{
    position: absolute;
    width: 287px;
    height: 64px;
    left: 44px;
    top: 590px;

    background: #66CDAA;
    border-radius: 15px;
}

/* Make Account*/
.makeAccount{
    position: absolute;
    width: 70px;
    height: 27px;
    left: 153px;
    top: 608px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}


.reEnterPasswordGroup{

    position: absolute;
    width: 287px;
    height: 64px;
    left: 44px;
    top: 492px;
    
}

/* Re-enter password button*/
.reEnterPasswordButton{
    
    box-sizing: border-box;

    position: absolute;
    width: 287px;
    height: 64px;
    left: 44px;
    top: 492px;

    background: #FFFFFF;
    border: 2px solid #66CDAA;
    border-radius: 15px;
    
}

/* Re-enter Password */
.reEnterPassword{
    position: absolute;
    width: 173px;
    height: 27px;
    left: 66px;
    top: 511px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #C4C4C4;
}





