{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> MYRAY - Welcome </title>
        <link rel="stylesheet" href="{% static 'css/landingPage.css' %}">
        
        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
        </style> 
    </head>

    <body>
        <div class="mainLogo">
            <img src="{% static 'images/mainLogo.svg' %}" style="width:100%;">
            <span class="myrayTitle"> MYRAY </span>
        </div>

        <div class="logInTextContainer">
            Log In to <span class="myrayName"> MYRAY </span>  
            <div class="catchPhrase">
                Shine Light on Your Spendings
            </div>
        </div>

        <div class="formContainer">
            <form class = "logInForm">
                <input class = "usernameTextbox" type = "email" placeholder = "Email Address"> </input>
                <input class = "passwordTextbox" type = "password" placeholder = "Password"> </input>
            </form>
            <button class = "logInButton"> Log In </button>
        </div>

        <div class = "toSignUpContainer">
            Need an account? <a href = "signUp.html" class = "signUpLink"> Sign up here </a>
        </div>
    </body>
</html>